@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

/* #toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
} */

a{
  color: black !important;
}

.brand-logo, h2 {
  font-family: "Grand Hotel", cursive;
}

.mycard {
  margin-top: 30px;
}

.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
}

.signin-button{
  margin-top: 10px;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #64b5f6  !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #64b5f6  !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #64b5f6  !important;
  box-shadow: 0 1px 0 0 #64b5f6 !important;
}

.profile{
  max-width: 950px;
  margin: 0px auto;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 30%;
  margin: 5px;
}


/* .home {} */

.home-card{
  margin: 26px auto;
  max-width: 600px;
  height: max-content;

}

.create-post {
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.name{
  padding: 5px;
}

.material-icons:hover{
  cursor: pointer;
}

.searchIcon{
  color: black;
}

.searchModal{
  color: black
}

.collection-item {
  width: 100%;
}